---
layout: api_docs
levels:
  - class
  - prototype
#= api_doc
---

{{ page.html }}

{% for level in page.levels %}
  {% assign has_functions = false %}
  {% assign has_accessors = false %}
  {% assign has_properties = false %}
  {% for s in page.sub %}
    {% if s.meta and s.meta.level == level and s.meta.type == 'function' %}
      {% assign has_functions = true %}
    {% elsif s.meta and s.meta.level == level and s.meta.type == 'accessor' %}
      {% assign has_accessors = true %}
    {% elsif s.meta and s.meta.level == level and s.meta.type == 'property' %}
      {% assign has_properties = true %}
    {% endif %}
  {% endfor %}
    <h3 class='span24'>{{level | capitalize}} Properties:</h3>
  {% if has_functions %}
    <div class='span8'>
    <h4>Functions</h4>
    <ul class="api-table-of-contents">
    {% for s in page.sub %}
      {% if s.meta and s.meta.level == level and s.meta.type == 'function' %}
      {% assign entry = s %}
      {% include api_docs_toc_item.html %}
      {% endif %}
    {% endfor %}
    </ul>
    </div>
  {% endif %}

  {% if has_accessors %}
    <div class='span8'>
    <h4>Accessors</h4>
    <ul class="api-table-of-contents">
    {% for s in page.sub %}
      {% if s.meta and s.meta.level == level and s.meta.type == 'accessor' %}
      {% assign entry = s %}
      {% include api_docs_toc_item.html %}
      {% endif %}
    {% endfor %}
    </ul>
    </div>
  {% endif %}

  {% if has_properties %}
    <div class='span8'>
    <h4>Properties</h4>
    <ul class="api-table-of-contents">
    {% for s in page.sub %}
      {% if s.meta and s.meta.level == level and s.meta.type == 'property' %}
      {% assign entry = s %}
      {% include api_docs_toc_item.html %}
      {% endif %}
    {% endfor %}
    </ul>
    </div>
  {% endif %}
  <div class='clearfix'></div>
{% endfor %}


<ul class="api-list">
{% for s in page.sub %}
  <li class="api-list-item">
    <h3 class="api-title">
      <a id="{{ s.id }}" class="anchor-target"></a>
      <a href="#{{ s.id }}" class="anchor-link">
      <span class="{% if s.meta %}monospace-heading{% endif %}">{% if s.meta.level == 'class' %}@{% endif %}{{ s.title }}{% if s.meta.params %}{% if s.meta.type == 'property' %}<span class="params">{{ s.meta.params }}</span>{% else %}<span class="params">({{ s.meta.params }})</span>  {% endif %}{% endif %}{% if s.meta.returnType %}<span class="return-type"> : {{ s.meta.returnType }}</span>{% endif %}</span>
      </a>
    </h3>
    {{ s.html }}
  </li>
{% endfor %}
</ul>
